<div id="landing" class="py-5">
   <div class="d-flex justify-content-center">
      <div class="col-md-6">
         <div class="row text-center fs-5">
            <div class="col-12">
               <h1 class="text-muted">We are making dreams come true!</h1>
            </div>
            <div class="col-12 my-3">
               <a class="navbar-brand mx-3" href="#">
                  <i
                     class="fa-solid fa-sitemap logo my-1"
                     style="font-size: 100px"></i>
               </a>
            </div>
            <div class="col-12">
               <h3 class="text-muted">
                  Welcome to
                  <br />
                  <span class="fw-bold text-light">Fristroop Development </span>
               </h3>
               <hr />
            </div>
            <div class="col-12">
               <p>
                  With our professional team we are ready to build your dream
                  website.
               </p>
            </div>
            <div class="col-12 mt-5">
               <a href="#main" class="btn btn-warning btn-lg mt-3">
                  <i class="fa-solid fa-arrow-down jump mx-1"></i>
                  Get Started
                  <i class="fa-solid fa-arrow-down jump mx-1"></i>
               </a>
            </div>
         </div>
      </div>
   </div>
</div>
<style>
   #landing {
      height: 100vh;
      z-index: 5;
      background-image: linear-gradient(
            180deg,
            rgba(33, 37, 41, 0.01),
            rgba(33, 37, 41, 1) 85%
         ),
         radial-gradient(
            ellipse at top left,
            rgba(13, 110, 253, 0.5),
            transparent 50%
         ),
         radial-gradient(
            ellipse at top right,
            rgba(255, 228, 132, 0.5),
            transparent 50%
         ),
         radial-gradient(
            ellipse at center right,
            rgba(112.520718, 44.062154, 249.437846, 0.5),
            transparent 50%
         ),
         radial-gradient(
            ellipse at center left,
            rgba(214, 51, 132, 0.5),
            transparent 50%
         );
   }
</style>
